.helloworld{
  stroke-dasharray: 160;
  stroke-dashoffset:0;
  display:none;
}
body{
  overflow: hidden;
}
.yeah{
  stroke-dasharray: 400;
  stroke-dashoffset:0;
  display:none;
}
#coverbutton{
	cursor:pointer;
  background-color: #FFFFFF;
	border-color:#000000;
	border-width:1px;
	border-style:solid;
  float:left;
  border-right-style: none;
}
#face1{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
#face2{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
#face3{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
@keyframes face {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes helloworld {
  from {
    stroke-dashoffset: 160;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes yeah {
  from {
    stroke-dashoffset: 400;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes wing {
  from {
    stroke-dashoffset: 150;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes open {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 200;
  }
}
@keyframes close {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#wingleft1{
  stroke-dasharray: 150;
  stroke-dashoffset:0;
  display:none;
}
#wingleft2{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
#wingleft3{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
#wingleft4{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
#wingright1{
  stroke-dasharray: 150;
  stroke-dashoffset:0;
  display:none;
}
#wingright2{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
#wingright3{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
#wingright4{
  stroke-dasharray: 50;
  stroke-dashoffset:0;
  display:none;
}
#codebutton{
  background-color: #FFFFFF;
  margin-top: 15px;
	cursor:pointer;
	border-color:#000000;
	border-width:1px;
	border-style:solid;
  border-right-style: none;
  float:left;
}
#databutton{
  background-color: #FFFFFF;
  cursor:pointer;
  margin-top: 15px;
  border-color:#000000;
  border-width:1px;
  border-style:solid;
  float:left;
  border-right-style: none;
}
#buttonwrapper{
  width:200px;
  height:600px;
  float:left;
}
#code{
  transform: rotate(7deg);
}
#rightwrapper{
  float:left;
}
#rightborderpath{

}
#closer{
  stroke-dasharray: 200;
  stroke-dashoffset:0;
}
#angelwing1{
  stroke-dasharray: 31.288;
  stroke-dashoffset:31.288;
}
#angelwing2{
  stroke-dasharray: 77.515;
  stroke-dashoffset:77.515;
}
@keyframes angelwing1 {
  from {
    stroke-dashoffset:31.288;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes angelwing2 {
  from {
    stroke-dashoffset:77.515;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#angelbody{
  stroke-dasharray: 138.3;
  stroke-dashoffset:138.3;
}
@keyframes angelbody {
  from {
    stroke-dashoffset:138.3;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#angelbody2{
  stroke-dasharray: 15.132;
  stroke-dashoffset:15.132;
}
@keyframes angelbody2 {
  from {
    stroke-dashoffset:15.132;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#angelbody3{
  stroke-dasharray: 19.2;
  stroke-dashoffset:19.2;
}
@keyframes angelbody3 {
  from {
    stroke-dashoffset:19.2;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#angelbody4{
  stroke-dasharray: 20.615;
  stroke-dashoffset:20.615;
}
@keyframes angelbody4 {
  from {
    stroke-dashoffset:20.615;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#angelbody5{
  stroke-dasharray: 114.66;
  stroke-dashoffset:114.66;
}
@keyframes angelbody5 {
  from {
    stroke-dashoffset:114.66;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#angelbody6{
  stroke-dasharray: 26.315;
  stroke-dashoffset:26.315;
}
@keyframes angelbody6 {
  from {
    stroke-dashoffset:26.315;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#angelbody7{
  stroke-dasharray: 85.02;
  stroke-dashoffset:85.02;
}
@keyframes angelbody7 {
  from {
    stroke-dashoffset:85.02;
  }
  to {
    stroke-dashoffset: 0;
  }
}